#MainViewDiv{
    margin: auto;
    text-align: center;
    padding-top: 25vh;
    /*background-color: blue;*/
    background-color: rgb(25, 82, 118);
    min-height: 100vh;
    z-index: 2;
}

#MainViewTitle {
    color: rgb(255, 95, 21);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 35px;
}

#MainViewText {
    width: 40%;
    margin: auto;
    padding: 0 0 0 40px;
}

#MainViewText {
    color: rgb(218, 216, 216);
}

#MainViewButtonDiv{
    padding: 50px 0 20px 0;
}

#MainViewButtons{
    padding: 10px 0 10px 0;
}

#MainViewButtons button{
    width: 220px;
}

@Media only screen and (max-width: 840px){
    #MainViewDiv{
        margin: auto;
        text-align: center;
        padding-top: 25vh;
        min-height: 100vh;
    }
    #MainViewTitle {
        font-size: 40px;
        padding-bottom: 35px;
    }


    #MainViewText {
        width: 80%;
        margin: auto;
    }
}


